container_commands:
  01_set_storage_permissions:
    command: "sudo chown -R webapp:webapp /var/app/current/storage && sudo chmod -R 775 /var/app/current/storage"
  02_set_upload_permissions:
    command: |
      mkdir -p /var/app/current/public/upload/category
      mkdir -p /var/app/current/public/upload/product
      mkdir -p /var/app/current/public/upload/product_gallery
      sudo chown -R webapp:webapp /var/app/current/public/upload
      sudo chmod -R 775 /var/app/current/public/upload
