container_commands:
  01-mkdir_upload_product:
    command: "mkdir -p /var/app/current/public/upload/product"
    command: "mkdir -p /var/app/current/public/upload/product_gallery"
    command: "mkdir -p /var/app/current/public/upload/category"
  02-set_permissions:
    command: "chmod -R 775 /var/app/current/public/upload/product && chown -R webapp:webapp /var/app/current/public/upload/product"
    command: "chmod -R 775 /var/app/current/public/upload/product_gallery && chown -R webapp:webapp /var/app/current/public/upload/product_gallery"
    command: "chmod -R 775 /var/app/current/public/upload/category && chown -R webapp:webapp /var/app/current/public/upload/category"
